In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = (10,5)
plt.rcParams['figure.dpi'] = 250
import warnings
warnings.filterwarnings('ignore')
sns.set_theme(style='darkgrid', palette='viridis')
%matplotlib inline

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/RahinUlde/DataSets/refs/heads/main/anime.csv')
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [4]:
df['type'].value_counts()

TV         3787
OVA        3311
Movie      2348
Special    1676
ONA         659
Music       488
Name: type, dtype: int64

In [5]:
df['rating'].value_counts()

6.00    141
7.00     99
6.50     90
6.25     84
5.00     76
       ...
3.47      1
3.71      1
3.87      1
3.91      1
3.14      1
Name: rating, Length: 598, dtype: int64

In [6]:
df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [7]:
df['episodes'].value_counts()

1      5677
2      1076
12      816
13      572
26      514
       ...
358       1
366       1
201       1
172       1
125       1
Name: episodes, Length: 187, dtype: int64

In [8]:
df.isna().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [9]:
df['episodes'].unique()

array(['1', '64', '51', '24', '10', '148', '110', '13', '201', '25', '22',
       '75', '4', '26', '12', '27', '43', '74', '37', '2', '11', '99',
       'Unknown', '39', '101', '47', '50', '62', '33', '112', '23', '3',
       '94', '6', '8', '14', '7', '40', '15', '203', '77', '291', '120',
       '102', '96', '38', '79', '175', '103', '70', '153', '45', '5',
       '21', '63', '52', '28', '145', '36', '69', '60', '178', '114',
       '35', '61', '34', '109', '20', '9', '49', '366', '97', '48', '78',
       '358', '155', '104', '113', '54', '167', '161', '42', '142', '31',
       '373', '220', '46', '195', '17', '1787', '73', '147', '127', '16',
       '19', '98', '150', '76', '53', '124', '29', '115', '224', '44',
       '58', '93', '154', '92', '67', '172', '86', '30', '276', '59',
       '72', '330', '41', '105', '128', '137', '56', '55', '65', '243',
       '193', '18', '191', '180', '91', '192', '66', '182', '32', '164',
       '100', '296', '694', '95', '68', '117', '151', '130', '87', '170',
       '119', '84', '108', '156', '140', '331', '305', '300', '510',
       '200', '88', '1471', '526', '143', '726', '136', '1818', '237',
       '1428', '365', '163', '283', '71', '260', '199', '225', '312',
       '240', '1306', '1565', '773', '1274', '90', '475', '263', '83',
       '85', '1006', '80', '162', '132', '141', '125'], dtype=object)

In [10]:
df[df['episodes'] == 'Unknown']

,anime_id,name,genre,type,episodes,rating,members
74,21,One Piece,"Action, Adventure, Comedy, Drama, Fantasy, Sho...",TV,Unknown,8.58,504862
252,235,Detective Conan,"Adventure, Comedy, Mystery, Police, Shounen",TV,Unknown,8.25,114702
615,1735,Naruto: Shippuuden,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,Unknown,7.94,533578
991,966,Crayon Shin-chan,"Comedy, Ecchi, Kids, School, Shounen, Slice of...",TV,Unknown,7.73,26267
1021,33157,Tanaka-kun wa Itsumo Kedaruge Specials,"Comedy, School, Slice of Life",Special,Unknown,7.72,5400
...,...,...,...,...,...,...,...
12265,34361,Kyonyuu Reijou MC Gakuen,Hentai,OVA,Unknown,NaN,205
12274,34492,Nuki Doki! Tenshi to Akuma no Sakusei Battle -...,Hentai,OVA,Unknown,NaN,392
12280,34312,Saimin Class,Hentai,OVA,Unknown,NaN,240
12282,34388,Shikkoku no Shaga The Animation,Hentai,OVA,Unknown,NaN,195
12285,34399,Taimanin Asagi 3,"Demons, Hentai, Supernatural",OVA,Unknown,NaN,485

In [11]:
(340/12294)*100

2.7655767040832924

In [12]:
df['episodes'] = pd.to_numeric(df['episodes'], errors='coerce')

In [13]:
df['episodes'].isna().sum()

340

In [14]:
df = df.dropna(subset=['episodes'])

In [15]:
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1.0,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64.0,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24.0,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1.0,4.15,211
12290,5543,Under World,Hentai,OVA,1.0,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4.0,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1.0,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1.0,5.46,142

In [16]:
df.shape

(11954, 7)

In [17]:
12294-340

11954

In [18]:
df.isna().sum()

anime_id     0
name         0
genre       51
type         0
episodes     0
rating      78
members      0
dtype: int64

In [19]:
df['anime_id'].unique()

array([32281,  5114, 28977, ...,  5621,  6133, 26081], dtype=int64)

In [20]:
df['name'].value_counts()

Shi Wan Ge Leng Xiaohua                                                    2
Saru Kani Gassen                                                           2
Kimi no Na wa.                                                             1
Madonna (Movie)                                                            1
Shunga                                                                     1
                                                                          ..
Araiguma Rascal                                                            1
Bakusou Kyoudai Let&#039;s &amp; Go!! WGP Bousou Mini Yonku Daitsuiseki    1
Beet the Vandel Buster Excellion                                           1
Black Jack ONA                                                             1
Yasuji no Pornorama: Yacchimae!!                                           1
Name: name, Length: 11952, dtype: int64

In [21]:
print(df['genre'].unique())
print(df['genre'].nunique())

['Drama, Romance, School, Supernatural'
 'Action, Adventure, Drama, Fantasy, Magic, Military, Shounen'
 'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen' ...
 'Action, Comedy, Hentai, Romance, Supernatural' 'Hentai, Sports'
 'Hentai, Slice of Life']
3222

In [22]:
all_chars = set(''.join(df['genre'].dropna().values))
print(sorted(all_chars))

[' ', ',', '-', 'A', 'C', 'D', 'E', 'F', 'G', 'H', 'J', 'K', 'L', 'M', 'P', 'R', 'S', 'T', 'V', 'Y', 'a', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'w', 'y']

In [23]:
all_chars = set(''.join(df['name'].dropna().values))
print(sorted(all_chars))

[' ', '!', '#', '$', '%', '&', '(', ')', '*', '+', ',', '-', '.', '/', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', ':', ';', '=', '?', '@', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '[', ']', '^', '_', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '~', '®', '°', '²', '³', '½', 'Ä', 'É', 'Ü', 'ß', 'à', 'â', 'ä', 'è', 'é', 'ö', 'ü', 'ă', 'ē', 'š', 'Δ', 'Ψ', 'μ', '“', '”', '†', '…', '℃', '←', '→', '√', '∞', '␣', '◎', '◯', '★', '☆', '♡', '♥', '♪', '♭', '＊']

In [25]:
print(df['genre'].isna().sum())
print(df['rating'].isna().sum())

51
78

In [26]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1.0,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64.0,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24.0,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.16,151266

In [27]:
df = df.dropna(subset=['genre'])

In [28]:
print(df['genre'].isna().sum())
print(df['rating'].isna().sum())

0
73

In [29]:
df[df['rating'].isna()]

,anime_id,name,genre,type,episodes,rating,members
8968,34502,Inazma Delivery,"Action, Comedy, Sci-Fi",TV,10.0,NaN,32
10908,31765,Sword Art Online Movie: Ordinal Scale,"Action, Adventure, Fantasy, Game, Romance",Movie,1.0,NaN,50944
10916,25537,Fate/stay night Movie: Heaven&#039;s Feel,"Action, Fantasy, Magic, Supernatural",Movie,1.0,NaN,53365
10919,33674,No Game No Life Movie,"Adventure, Comedy, Ecchi, Fantasy, Game, Super...",Movie,1.0,NaN,32041
10938,33818,Amanchu! Special,"Comedy, School, Slice of Life",Special,1.0,NaN,3303
...,...,...,...,...,...,...,...
11109,34471,Youkai Watch Movie 4,"Comedy, Kids, Supernatural",Movie,1.0,NaN,169
11110,34284,Yuuki Yuuna wa Yuusha de Aru: Washio Sumi no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6.0,NaN,2593
11111,34445,Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6.0,NaN,4439
12257,34168,Hataraku Otona no Renai Jijou The Animation,Hentai,OVA,1.0,NaN,331
12279,34491,Sagurare Otome The Animation,Hentai,OVA,1.0,NaN,79

In [30]:
df[df['anime_id'] == 34502]

,anime_id,name,genre,type,episodes,rating,members
8968,34502,Inazma Delivery,"Action, Comedy, Sci-Fi",TV,10.0,NaN,32

In [31]:
df['rating'].median()

6.57

In [32]:
df['rating'] = df['rating'].fillna(df['rating'].median())

In [33]:
df[df['anime_id'] == 34502]

,anime_id,name,genre,type,episodes,rating,members
8968,34502,Inazma Delivery,"Action, Comedy, Sci-Fi",TV,10.0,6.57,32

In [34]:
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1.0,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64.0,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24.0,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1.0,4.15,211
12290,5543,Under World,Hentai,OVA,1.0,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4.0,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1.0,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1.0,5.46,142

In [35]:
print(df['name'].nunique())
print(df['anime_id'].nunique())
print(df['genre'].nunique())
print(df['type'].nunique())
print(df['type'].value_counts())

11901
11903
3222
6
TV         3576
OVA        3260
Movie      2302
Special    1669
ONA         609
Music       487
Name: type, dtype: int64

In [42]:
print(df[df['name'] == '&quot;0&quot;'])
print(df[df['name'] == 'Gintama&#039;'])

      anime_id           name  genre   type  episodes  rating  members
7749     20707  &quot;0&quot;  Music  Music       1.0    5.06     1170
   anime_id           name                                              genre  \
4      9969  Gintama&#039;  Action, Comedy, Historical, Parody, Samurai, S...

  type  episodes  rating  members
4   TV      51.0    9.16   151266

In [43]:
#Combine features into a single string
df['combined_features'] = df['genre'].fillna('') + ' ' + df['type'].fillna('') + ' ' + df['episodes'].astype(str) + ' ' + df['rating'].astype(str)

In [44]:
df.head()

,anime_id,name,genre,type,episodes,rating,members,combined_features
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1.0,9.37,200630,"Drama, Romance, School, Supernatural Movie 1.0..."
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64.0,9.26,793665,"Action, Adventure, Drama, Fantasy, Magic, Mili..."
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.25,114262,"Action, Comedy, Historical, Parody, Samurai, S..."
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24.0,9.17,673572,"Sci-Fi, Thriller TV 24.0 9.17"
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.16,151266,"Action, Comedy, Historical, Parody, Samurai, S..."

In [45]:
#Converts combined text data into numerical vectors.
from sklearn.feature_extraction.text import TfidfVectorizer

In [47]:
vectorizer = TfidfVectorizer(stop_words='english')
feature_matrix = vectorizer.fit_transform(df['combined_features'])

In [49]:
#Compute Cosine Similarity
from sklearn.metrics.pairwise import linear_kernel

In [50]:
cosine_sim = linear_kernel(feature_matrix, feature_matrix)

In [54]:
#Recommendation Function
def recommend(anime_name, cosine_sim=cosine_sim):
    try:
        idx = df[df['name'].str.lower() == anime_name.lower()].index[0]
    except IndexError:
        return "Anime not found in the dataset."
    similarity_scores = list(enumerate(cosine_sim[idx]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    top_indices = [i[0] for i in similarity_scores[1:6]]
    return df['name'].iloc[top_indices].tolist()

Function finds the index of the given anime, calculates similarity scores for all other anime using cosine similarity, sorts them in descending order, and returns the names of the top 5 most similar anime (excluding the input anime itself).

In [58]:
print(recommend('Gintama&#039;'))

['Gintama°', 'Gintama Movie: Kanketsu-hen - Yorozuya yo Eien Nare', 'Gintama: Yorinuki Gintama-san on Theater 2D', 'Gintama: Jump Festa 2014 Special', 'Gintama&#039;: Enchousen']

In [57]:
print(recommend("Steins;Gate"))

['Ibara no Ou', 'Komatsu Sakyo Anime Gekijou', 'Mahou Shoujo Ikusei Keikaku', 'Ozma', 'Gankutsuou']

In [61]:
anime_name = "Steins;Gate"
recommendations = recommend(anime_name)
print(f"Because you liked '{anime_name}', you may also like:")
for rec in recommendations:
    print(f"- {rec}")

Because you liked 'Steins;Gate', you may also like:
- Ibara no Ou
- Komatsu Sakyo Anime Gekijou
- Mahou Shoujo Ikusei Keikaku
- Ozma
- Gankutsuou

# Interview Questions 
## 1. Can you explain the difference between user-based and item-based collaborative filtering?
### Ans. User-based collaborative filtering recommends items to a user based on what similar users liked, while item-based collaborative filtering recommends items similar to those the user has already liked, based on item-to-item similarity.
## 2. What is collaborative filtering, and how does it work?
### Ans. Collaborative filtering is a recommendation technique that suggests items based on past user behavior. It works by finding patterns in user-item interactions — either by identifying similar users or similar items without needing item features.